* {
    /* first three rules override browser defaults */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* remove dotted outline around links */
    outline: none;
}

body {
  background-color: rgb(250, 250, 255);
  font-size: 0.95rem;
}

.top {
    padding-top: 4rem;
}
