.custom-nav {
    background-color: white;
    /* make messages show up over the navbar since their z-index is 100 */
    z-index: 99;
}

.search-color {
    background-color: rgb(250, 250, 255);
}

.logo {
    font-family: 'Special Elite', cursive;
    font-size: 25px;
}