/* "p-d" stands for post detail */

.p-d-image {
    max-height: 80rem;
}

.p-d-username {
    position: relative;
    top: -5px;
}

.p-d-border {
    border: 1px solid rgb(230, 230, 230);
}

.p-d-border-left {
    border-left: 1px solid rgb(230, 230, 230);
}

.p-d-border-bottom {
    border-bottom: 1px solid rgb(235, 235, 235);
}

.p-d-textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 4rem;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.p-d-textarea:focus {
    background-color: rgb(250, 250, 255);
}

/* comments-parent and comments-child classes are for hiding scrollbar */
.comments-parent {
    width: 100%;
    height: 21.5rem;
    overflow: hidden;
    position: relative;
}

.comments-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
}
