/* "p-d" stands for post detail */

.p-d-image {
    max-height: 200vh;
}

.p-d-profile-img {
    max-height: 40px;
    max-width: 40px;
}

.p-d-border {
    border: 1px solid rgb(230, 230, 230);
}

.p-d-border-bottom {
    border-bottom: 1px solid rgb(235, 235, 235);
}

.p-d-textarea {
    border: none;
    resize: none;
    height: 1.8rem;
    margin-top: 0.4rem;
}
