.my-modal {
    /* Stay in place */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: scroll;
}

.arrow {
    display: none;
    text-align: center;
    color: rgb(220, 220, 220);
    font-size: 2rem;
    margin-top: 45vh;
}

.arrow:hover {
    color: white;
    cursor: pointer;
}

.cross {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 2.5rem;
    line-height: 0;
    color: rgb(220, 220, 220);
}

.cross:hover {
    color: white;
    cursor: pointer;
}
