/*.dots:after {*/
    /*!* "\2807" is a unicode character (3 vertical dots) *!*/
    /*content: '\2807';*/
    /*float: right;*/
    /*margin-right: 0.8rem;*/
    /*font-size: 1.5rem;*/
/*}*/

.dots {
    display: inline!important;
    float: right;
    font-size: 2rem;
}

/* override bootstrap id of the dropdown title link */
#collasible-nav-dropdown {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1rem;
    padding: 0;
}

/* override bootstrap class to move dropdown menu a little bit down */
.dropdown-menu {
    margin-top: 0.5rem;
}

/* remove arrow after dropdown title */
#collasible-nav-dropdown:after {
    display: none;
}

.my-icon {
    font-size: 1.8rem;
    margin-right: 0.5rem;
    color: rgb(200, 200, 200);
}

.my-icon:hover {
    color: rgb(50, 50, 50);
    cursor: pointer;
}

.post-profile-img {
    max-height: 40px;
    max-width: 40px;
}

.post-username-link {
    color: black;
}

.post-username-link:hover {
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .my-container {
        width: 600px;
    }
}