/*.dots:after {*/
    /*!* "\2807" is a unicode character (3 vertical dots) *!*/
    /*content: '\2807';*/
    /*float: right;*/
    /*margin-right: 0.8rem;*/
    /*font-size: 1.5rem;*/
/*}*/

.dots {
    display: inline!important;
    float: right;
    font-size: 2rem;
}

/* override bootstrap id of the dropdown title link */
#collasible-nav-dropdown {
    color: rgba(0, 0, 0, 0.6);
    line-height: 1rem;
    padding: 0;
}

/* override bootstrap class to move dropdown menu a little bit down */
.dropdown-menu {
    margin-top: 0.5rem;
}

/* remove arrow after dropdown title */
#collasible-nav-dropdown:after {
    display: none;
}

.my-icon {
    font-size: 1.7rem;
    margin-right: 0.5rem;
    color: rgb(200, 200, 200);
    transition: color 0.3s;
}

.my-icon:hover {
    color: rgb(50, 50, 50);
    cursor: pointer;
}

.liked {
    color: rgb(255, 50, 30);
    transition: color 0.3s;
}

.liked:hover {
    color: rgb(220, 30, 30);
}

.saved {
    color: rgba(0, 0, 0, 0.8);
    transition: color 0.3s;
}

.saved:hover {
    color: rgba(0, 0, 0, 1);
}

.post-profile-img {
    max-height: 40px;
    max-width: 40px;
}

.post-image {
    max-height: 200vh;
}

.likes-count {
    font-weight: 600;
}

.comments-count a {
    color: rgb(150, 150, 150);
}

.comments-count a:hover {
    text-decoration: none;
}

.time-ago {
    color: rgb(150, 150, 150);
}

.no-posts-yet {
    font-size: 1.1rem;
}

@media (min-width: 768px) {
    .my-container {
        width: 600px;
    }
}
