.comment-info {
    font-size: 0.9rem;
}

.comment-info a:hover {
    text-decoration: none;
}

.reply-show-hide {
    font-size: 0.9rem;
}

.comment-like {
    float: right;
    margin-right: 2rem;
    margin-top: 0.4rem;
}

.my-plus {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

.comment-spinner {
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
}

.load-more {
    font-size: 0.9rem;
}
