.profile-edit-img {
    max-height: 100px;
    max-width: 100px;
}

.profile-edit-img:hover {
    cursor: pointer;
}

.blue-text {
    color: dodgerblue;
}

.blue-text:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}

.below-email-text {
    font-size: 0.9rem;
}
